<!DOCTYPE html>
<html>
<head>
	<title>Upload a file</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		.form {
			margin: 0 400px;
		}
	</style>
</head>
<body>
	<div class="form">
		<form class="form-inline" enctype="multipart/form-data" method="POST">
			{% csrf_token %}
	  		<div class="form-group mb-2">
	    		<label for="file_input" class="sr-only">Upload a csv file : </label>
	    		<input type="file" readonly class="form-control-plaintext" value="No file chosen" name="file_input">
	  		</div>
	  		<button type="submit" class="btn btn-primary mb-2" onclick="home()">Upload</button>
		</form>
	</div>
	<div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Employee ID</th>
              <th scope="col">Total Days</th>
              <th scope="col">Present</th>
              <th scope="col">Absent</th>
              <th scope="col">Percentage</th>
            </tr>
          </thead>
          <tbody id="data">
            {% for item in data %}

                <tr>
	                <td>{{ item.eid }}</td>
	                <td>{{ item.TotalDays }}</td>
	                <td>{{ item.present }}</td>
	                <td>{{ item.absent }}</td>
	                <td>{{ item.percentage }}%</td>
               </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
	<script
  	src="https://code.jquery.com/jquery-3.4.1.min.js"
  	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  	crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>